<!DOCTYPE html>
<html lang="en">
    <head>
        <title>McBurn</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="McBurn - Anti-Burnout Application">
        <link rel="stylesheet" href="/static/styles.css">
    </head>

    <body align="center">

        <nav>
            <a href="/home"><button>Home</button></a>
            <a href="/profile"><button>Profile</button></a>
            <a href="/logout"><button>Logout</button></a>
        </nav>
        
        {% block content %}{% endblock %}
    </body>
</html>