{% extends "base.html" %}
{% block content %}

<nav>
    <a href="/home"><button>Home</button></a>
    <a href="/profile"><button>Profile</button></a>
</nav>

{% if score %}
<div class="results-div">
    <div class="score-div">
        <h3>Score:</h3>
        <p>{{score}}</p>
    </div>

    <div class="feedback-div">
        <h3>Feedback:</h3>
        <p>{{feedback}}</p>
    </div>
</div>
{% else %}
<div class="no-results">
    <p>You have no results.</p>
    <a href="/track"><button>Add data</button></a>
</div>
{% endif %}

{% endblock %}